.App {
  height: 100vh;
  background-color: #0d1116;
  overflow: scroll;
  text-align: center;
}

.container {
  height: 100%;
  background-color: #0d1116;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header-container {
  padding-top: 30px;
}

.header {
  margin: 0;
  font-size: 50px;
  font-weight: bold;
}

.sub-text {
  font-size: 25px;
  color: white;
}

.sub-text a {
  color: #35aee2;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  border: 2px solid #35aee2;
  border-radius: 5px;
  padding: 5px 10px;
  box-shadow: 3px 3px 0 #35aee2;
  transition: all .05s ease-in!important;
}

.sub-text a:hover {
  box-shadow: none;
  transform: translate(2px,2px);
}
.new-nfts {
  max-width: 700px;
  margin: 0 auto;
  font-size: 14px;
  border-radius: 10px;
  padding: 5px;
  margin-top: 20px;

}

.warning {
  background-color: orange;
  color: white;
  padding: 10px;
}

.gradient-text {
  background: -webkit-linear-gradient(left, #60c657 30%, #35aee2 60%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-bg {
  background: -webkit-linear-gradient(left, #60c657 30%, #35aee2 60%);
}

.cta-button {
  height: 45px;
  border: 0;
  width: auto;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  color: white;
}

.connect-wallet-button {
  background: -webkit-linear-gradient(left, #60c657, #35aee2);
  background-size: 200% 200%;
  animation: gradient-animation 4s ease infinite;
}

.mint-button {
  background: -webkit-linear-gradient(left, #a200d6, #ff6fdf);
  background-size: 200% 200%;
  animation: gradient-animation 4s ease infinite;
  margin-right: 15px;
}

.opensea-button {
  background: -webkit-linear-gradient(left, #a200d6, #ff6fdf);
  text-decoration: none;
  padding: 2px 5px;
  color: white;
  background-size: 200% 200%;
  animation: gradient-animation 4s ease infinite;
  margin-right: 15px;
  border-radius: 3px;
}

.opensea-button:hover {
  background: -webkit-linear-gradient(left, #ff6fdf, #a200d6);
}

.mint-count {
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.body {
  color: white;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}

.twitter-logo {
  width: 35px;
  height: 35px;
}

.footer-text {
  color: white;
  font-size: 16px;
  font-weight: bold;
}

/* KeyFrames */
@-webkit-keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
